body {
  background-color: #282A36;
}
.web-color-text {
  color: white;
  font: normal;
  font-size: 16px;
}
.web-logo {
  text-align: center;
}
.web-tittle {
  text-align: center;
}




.footer-con {
  padding: 40px 0;
  background-color: black;
  color: #4b4c4d;
}
.footer-con .footer-social {
  text-align: center;
  padding-bottom: 18px;
}
.footer-con .footer-text {
  margin-top: -20px;
  text-align: center;
  font-size: 13px;
  color: white;
  margin-bottom: 0;
}