body {
  background-color: #282A36;
}
.web-color-text {
  color: white;
  font: normal;
  font-size: 16px;
}
.web-logo {
  text-align: center;
}
.footer {
  background-color: black;
  background-size: 100% auto;
  color: white;
  text-align: right;
  font-size: 12px;
  display: block;
  position: relative;
  min-height:100%;
	width: 100%;
  max-width: 1300px;
  padding: 0 10px;
  border-top: none;
}
.footer-left {
  left: -20;
  width: 100%;
  text-align: left;
  }
.footer-center {
  width: 100%;
  text-align: center;
  }
.footer-right {
  left: 0;
  width: 100%;
  text-align: right;
  }